<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozstrategy.dao.export.MessageExportDao">
    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>-->
    <resultMap id="MessageExportResult" type="com.ozstrategy.model.export.MessageExport" autoMapping="true">
        <id column="id" property="id" javaType="long"/>
    </resultMap>
    
    <select id="list" resultMap="MessageExportResult" parameterType="Map">
        select f.* from ext_messageExport f where f.projectId=#{projectId} order by f.createDate desc
    </select>
    <select id="listCount" resultType="java.lang.Integer" parameterType="Map">
        select count(id) from ext_messageExport f where f.projectId=#{projectId}
    </select>
    <select id="get" resultMap="MessageExportResult" parameterType="long">
        SELECT * FROM  ext_messageExport where id=#{id}
    </select>
    <insert id="save" flushCache="true" parameterType="com.ozstrategy.model.export.MessageExport">
        <selectKey keyColumn="id" keyProperty="id" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO ext_messageExport
        (id,exceptions,executeDate,filePath,projectId,createDate,type,multiFile,exportor,lastUpdateDate)
        VALUES (#{id},#{exceptions},#{executeDate},#{filePath},#{projectId},#{createDate},#{type},#{multiFile},#{exportor},#{lastUpdateDate})
    </insert>
    <update id="update" parameterType="com.ozstrategy.model.export.MessageExport" flushCache="true">
        UPDATE ext_messageExport
        SET exceptions=#{exceptions},executeDate=#{executeDate},filePath=#{filePath},projectId=#{projectId},createDate=#{createDate},type=#{type},multiFile=#{multiFile},exportor=#{exportor},lastUpdateDate=#{lastUpdateDate}
        WHERE (id=#{id})
    </update>
    <delete id="delete" parameterType="com.ozstrategy.model.export.MessageExport" flushCache="true">
        DELETE FROM ext_messageExport
        WHERE (id=#{id})
    </delete>
</mapper>