<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
      >
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean" id="scheduler">
        <property name="triggers">
            <list>
                <ref bean="luceneIndexTrigger" />
                <ref bean="exportMessageTrigger" />
            </list>
        </property>
    </bean>
    
    <!--lucene add index-->
    <bean id="luceneIndexTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="luceneIndexDetail" />
        </property>
        <property name="cronExpression">
            <value>0 34 3 ? * *</value>
        </property>
    </bean>
    <bean id="luceneIndexDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="luceneIndexJob" />
        </property>
        <property name="targetMethod">
            <value>writeIndex</value>
        </property>
    </bean>
    <bean id="luceneIndexJob" class="com.ozstrategy.job.LuceneIndexJob" />
    
    
    <!--export message-->
    <bean id="exportMessageTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <ref bean="exportMessageDetail" />
        </property>
        <property name="cronExpression">
            <value>0 0 5 1 * ?</value>
        </property>
    </bean>
    <bean id="exportMessageDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <ref bean="exportMessageJob" />
        </property>
        <property name="targetMethod">
            <value>exportMessage</value>
        </property>
    </bean>
    <bean id="exportMessageJob" class="com.ozstrategy.job.ExportMessageJob" />
    
</beans>