<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozstrategy.dao.userrole.RoleDao">
    <resultMap id="roleResult" type="com.ozstrategy.model.userrole.Role" autoMapping="true">
        <id column="id" property="id" javaType="long"/>
        <!--<association property="systemView" column="systemViewId" select="com.ozstrategy.dao.userrole.SystemViewDao.getSystemViewById"/>-->
        <!--<collection property="users" column="id" select="com.ozstrategy.dao.userrole.UserDao.getUserByRoleId" fetchType="lazy"/>-->
    </resultMap>
    <select id="listRoles" resultMap="roleResult"  parameterType="Map">
        select * from ext_role r 
        where r.enabled=1 and r.name!='ROLE_ADMIN' and projectId=#{projectId} 
        <if test="keyword!=null and keyword!=''">and (r.name like CONCAT(CONCAT('%', #{keyword}), '%') or r.displayName like CONCAT(CONCAT('%', #{keyword}), '%'))</if>
        order by r.createDate desc
    </select>
    <select id="listRolesCount" resultType="java.lang.Integer" parameterType="Map">
        select count(*) from ext_role r  
        where r.enabled=1 and r.name!='ROLE_ADMIN' and projectId=#{projectId}
        <if test="keyword!=null and keyword!=''">and (r.name like CONCAT(CONCAT('%', #{keyword}), '%') or r.displayName like CONCAT(CONCAT('%', #{keyword}), '%'))</if>
    </select>
    <select id="getRoleByName" resultMap="roleResult" parameterType="java.lang.String">
        select * from ext_role r where r.enabled=1 and r.name=#{name}
    </select>
    <select id="getRoleById" resultMap="roleResult" parameterType="java.lang.Long">
        select * from ext_role r where r.enabled=1 and r.id=#{id}
    </select>
    <select id="getRoleByUserId" resultMap="roleResult" parameterType="java.lang.Long">
        select * from ext_role r JOIN ext_userrole ur on r.id=ur.roleId where ur.userId=#{userId} and r.enabled=1
    </select>
    <insert id="save" parameterType="com.ozstrategy.model.userrole.Role" flushCache="true">
        <selectKey keyColumn="id" keyProperty="id" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO ext_role
         (id,enabled,description,name,projectId,createDate,displayName,lastUpdateDate)
        VALUES (#{id},#{enabled},#{description},#{name},#{projectId},#{createDate},#{displayName},#{lastUpdateDate})
    </insert>
    <update id="update" parameterType="com.ozstrategy.model.userrole.Role" flushCache="true">
        UPDATE ext_role
        SET enabled=#{enabled},description=#{description},name=#{name},projectId=#{projectId},createDate=#{createDate},displayName=#{displayName},lastUpdateDate=#{lastUpdateDate}
        WHERE (id=#{id})
    </update>
    <delete id="delete" parameterType="com.ozstrategy.model.userrole.Role" flushCache="true">
        DELETE FROM ext_role
        WHERE (id=#{id})
    </delete>

</mapper>